<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ac.soton.eventb.diagrameditor.featureprovider" name="Feature Provider" schema="schema/ac.soton.eventb.diagrameditor.featureprovider.exsd"/>
   
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="A Project Diagram, that shows machines, contexts, ..."
            id="ac.soton.eventb.diagrameditor.ProjectDiagramType"
            name="Project Diagram Type"
            type="projectDiagram">
      </diagramType>
   </extension>
   
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="ac.soton.eventb.diagrameditor.DiagramTypeProvider"
            id="ac.soton.eventb.diagrameditor.DiagramTypeProvider"
            name="Project Diagram Editor">
         <diagramType
               id="ac.soton.eventb.diagrameditor.ProjectDiagramType">
         </diagramType>
         <imageProvider
         	id="ac.soton.eventb.diagrameditor.ImageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.graphiti.ui.editor.DiagramEditor"
            default="true"
            extensions="pjd"
            icon="icon.png"
            id="diagram-editor.diagram-editor"
            name="Diagram Editor">
      </editor>
   </extension>
   
   <extension
   		 point="org.eclipse.graphiti.ui.imageProviders">
   		 <imageProvider
   		 	class="ac.soton.eventb.diagrameditor.ImageProvider"
   		 	id="ac.soton.eventb.diagrameditor.ImageProvider">
   		 </imageProvider>
   </extension>

</plugin>
